.grandiv{
    /* background-color: peru; */
    background-color: #E8412E;
    /* background-color: #a4c639; */


    padding: 0px;
}
marquee h2{
    /* text-align: center; */
    color: cornsilk;

}
.btn{
    margin-left: 520px;
    margin-right: auto;
}