.divnv1 img{
float: left;
margin: 0px 50px 0px 0px;
}
.divnv2 img{
    width: 250px;
height: 400px;  
margin-top: 20px;
}
.divnv3 img{
    width: 325px;
    height: 400px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.divnv2{
    width: 150px;
    flex: auto;
    margin: 0px 10px 0px 0px;



}
.Carousel card{
transition:  2s;
}

.divnv3{
    width: 300px;
    margin: 0px;
    float: left;
    flex: auto;



}
.divnv1{
    /* width: 500px; */
    width: 1000x;
    float: left;
    margin-bottom: 5px;

}

.off{
    margin-top: 10px;
    margin-right: 10px;
    height: 500px;
}

.product--image {
    width: 100%;
    height: 12em;
    object-fit: cover;
  }

  .off .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    /* margin: auto 1rem; */
    margin: 5px 0px 0px 5px;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .off .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:#5cad7e;
    
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .off .card button:hover {
    opacity: 0.7;
  }