.left-image{
	margin-top: 25px;
	background-image: url(../../assets/images/sinistre.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 350px 0px;


}
.right-content h2,span{
	
		text-align: center;
		font-weight: bold;
		color: gray;
		padding-bottom: 50px;
	 
	 
}